<?php

declare(strict_types=1);

use Premierstacks\PhpCsFixerStack\ConfigFactory;
use Premierstacks\PhpCsFixerStack\Configs\Premierstacks;
use Premierstacks\PhpCsFixerStack\FinderFactory;

return ConfigFactory::make(FinderFactory::make()->in(__DIR__), Premierstacks::rules());
